/*@import url("https://pretextbook.org/doc/guide/html/_static/pretext/css/banner_default.css");*/
/*@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');*/

.pretext .ptx-page > .ptx-main .ptx-content {
  max-width: 1000px;
}
.ptx-masthead {
  max-width: 1304px;
}
.pretext .ptx-navbar {
  max-width: 1304px;
}
.pretext .ptx-content-footer {
  max-width: 1000px;
}
.pretext .ptx-page-footer {
  max-width: 1304px;
}
section iframe {
  width: 100%;
}
.ptx-masthead .logo-link:empty:before {
  /*content: "\24B9";
  color: #0055b7;
  font-family: "Commissioner", sans-serif; 
  font-optical-sizing: auto;
  font-style: normal;
  font-weight:bold;
  font-variation-settings:
    "slnt" 0,
    "FLAR" 0,
    "VOLM" 0; */
    content: url('./dawson.svg');
}

.ptx-content iframe {
  border-radius: 10px;
  border-style: solid;
}

/*Hide all Show CodeLens buttons*/

[data-component="activecode"] button.ac_opt {
  display: none;
}